<p id="notice"><%= notice %></p>


<div class="col-md-3">
  <div class="thumbnail">
   <%= image_tag(product.image_url, class: 'product_image', width: 200, height: 100 ) %>
  <div class="caption">      
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <p><%= product.key %></p>
          <div class="row">
            <div class="col-md-4">
              <button><%= link_to 'Show', product %></button>
            </div>
            <div class="col-md-4">
              <button><%= link_to 'Edit', edit_product_path(product) %></button>
            </div>
            <div class="col-md-4">
              <button><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </button>
          </div>
        </div>
    </div>
  </div>
 </div>



  
