<p id="notice"><%= notice %></p>


<div class="col-md-3">
  <div class="thumbnail">
    <% @products.each do |product| %>
      <%= image_tag(product.image_url, class: 'product_image') %>
    <% end %>
  <div class="caption">      
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <p><%= product.key %></p>
          <div class="row">
            <div class="col-md-4">
              <button><%= link_to 'Show', product %></button>
            </div>
            <div class="col-md-4">
              <button><%= link_to 'Edit', edit_product_path(product) %></button>
            </div>
            <div class="col-md-4">
              <button><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </button>
          </div>
        </div>
    </div>
  </div>
<%= link_to 'New Product', new_product_path %>
</div>
  
